.authorization {        
    font-family: Inter Medium;    
    position: relative;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;      
}

.authorization__title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;    
    position: relative;
    margin-right: auto;
    margin-left: auto;   
}

.authorization__form{
    margin-bottom: 160px;
}

.authorization__form_submit{
    margin-bottom: 14px;
}