.chats__ava {    
    width: 47px;
    height: 47px;
    position: relative;     
    border-radius: 50%;          
    background: $base-grey;    
    line-height: 47px;
    overflow: hidden;      
}
