$primary: #3369fe;
$base-white: #fff;
$text-grey: #999;
$base-grey: #efefef;
$border-grey: #eaeaea;
$light-grey: #e5e5e5;
$base-black: #000;
$text-red: #ff2f2f;
$text-dark-grey: #1e1e1e;
$base-message-grey: #f8f8f8;
$base-message-blue: #e4edfd;
