.formInput {    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;    
    width: 280px;      
}

.formInput__label {    
    text-align: left;
    color: #999999;
    font-size: 9px;
    margin-bottom: 8px;    
}

.formInput__field {    
    text-align: left;   
    font-size: 13px;
    border: none;
    border-bottom: solid #3369f3 1px;
    margin-bottom: 16px;
}