.messages {
    height: 100%;   
    width: 75%; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;   
    color: #999999;
    font-size: 12px;
    font-weight: 500; 
}