.profileRow {
    height: 33px;
    line-height: 33px;  
    font-size: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid #EAEAEA 1px;
}

.profileRow__title {    
    text-align: left;
    
}

.profileRow__value {    
    text-align: right;    
    color: #999999;
}