.profileRow {
    width: 520px;
    height: 33px;    
    font-size: 13px;
}

.profileRow__title {    
    text-align: left;
    display: inline-block;
}

.profileRow__value {    
    text-align: right;
    display: inline-block;
    color: #999999;
}