<form class="form">
    <div class="form__title">
        Вход
    </div>
    <div class="authorization__form">
        {{{login}}}
        {{{password}}}
    </div>
    <div class="authorization__form-submit">
        {{{button}}}
    </div>
    <div>{{{link}}}</div>
</form>
