<div class="modal-content">
    <button class="close" type="button">&times;</button>
    <div class="form__title">
        Добавьте пользователя в чат
    </div>
    {{{chat}}}
    <div lass="form__submit">
        {{{submitButton}}}
    </div>
</div>
