<div class="form">
    <div class="form__title">
        Изменить данные
    </div>
    <div class="form__fields">
        {{{ editRowOldPassword }}}
        {{{editRowNewPassword }}}
        {{{ editRowPasswordCheck }}} 
    </div>
    <div lass="form__submit">
        {{{submitButton}}}
    </div>

</div>      

