<div class="modal-content">
    <span class="close">&times;</span>
    <div class="form__title">
        Загрузите файл
    </div>
        <input class="edit-avatar" type="file" name="avatar" accept="image/*">
    </span>
    <div lass="form__submit">
        {{{submitFileButton}}}
    </div>
</div>
