<link rel="stylesheet" href="../static/styles/index.pcss"/> 
<box class="form">
    <div class="form__title">
        Вход
    </div>
    <form class="authorization__form"> 
        {{>  formInput label="Логин" name="login" value="ivanivanov" type="text"}}
        {{>  formInput label="Пароль" name="password" value="******" type="password"}}  
    </form>
    <div class="authorization__form_submit">
    <button class="btn">Войти</button>
    </div>   
    <div>{{> link url="../pages/registration.hbs" title="Нет аккаунта?"}}</div>    
</box>
