<link rel="stylesheet" href="../static/styles/index.pcss"/> 
<box class="chats">
{{>chatsProfileLink}}
{{> chatsSearch}}
<div class="chats__list">
    {{> chatsCard path="../static/pic/ava.jpeg" name="Андрей" text="Привет! Давай знакомиться" time="13:45" count="3"}}    
</div>
</box>
