<link rel="stylesheet" href="../static/styles/index.pcss"/> 
<box class="chats">
{{>chats__profileLink}}
{{> chats__search}}
<div class="chats__list">
    {{> chats__list_card path="../static/pic/ava.jpeg" name="Андрей" text="Привет! Давай знакомиться" time="13:45" count="3"}}    
</div>
</box>