<link rel="stylesheet" href="../static/styles/index.pcss"/>
<div class="formInput">
    <span class="formInput__label">{{label}}</span>    
    <input class="formInput__field" name={{name}} type={{type}} value={{value}}></input>
</div>