<link rel="stylesheet" href="../static/styles/index.pcss"/>
<div class="form__Input">
    <span class="form__Input_label">{{label}}</span>    
    <input class="form__Input_field" name={{name}} type={{type}} value={{value}}></input>
</div>