<box class="profile">
<div class="profile__ava">
    Поменять аватар</div>
<div class="profile__name">{{profileName}}</div>
<div class="profile__infoBlock"></div>
<div class="profile__editBlock">Редактирование</div>
{{> link url="../pages/chats.hbs" title="Выйти" color="red"}} 
</box>