<link rel="stylesheet" href="../static/styles/index.pcss"/> 
<box class="profile">
<div class="profile__ava">
    <span>Поменять аватар</span>
</div>
<div class="profile__name">{{profileName}}</div>
<div class="profile__infoBlock">
    {{> profileRow title="Почта" value="pochta@yandex.ru"}}
    {{> profileRow title="Логин" value="ivanivanov"}}
    {{> profileRow title="Имя" value="Иван"}}
    {{> profileRow title="Фамилия" value="Иванов"}}
    {{> profileRow title="Имя в чате" value="Иван"}}
    {{> profileRow title="Телефон" value="+7 910 123 45 67"}}
</div>
<div class="profile__editBlock">
    {{!-- временный переход на список страниц --}}
    {{> profileEditRow title="Изменить данные"}}
    {{> profileEditRow title="Изменить пароль"}}
    {{> profileExitRow title="Выйти"}}
</div>
</box>