<link rel="stylesheet" href="../static/styles/index.pcss"/> 
<box class="profile">
<div class="profile__ava">
    <span>Поменять аватар</span>
</div>
<div class="profile__name">{{profileName}}</div>
<div class="profile__infoBlock">
    {{> profileInfoRow title="Почта" value="pochta@yandex.ru"}}
    {{> profileInfoRow title="Логин" value="ivanivanov"}}
    {{> profileInfoRow title="Имя" value="Иван"}}
    {{> profileInfoRow title="Фамилия" value="Иванов"}}
    {{> profileInfoRow title="Имя в чате" value="Иван"}}
    {{> profileInfoRow title="Телефон" value="+7 910 123 45 67"}}
</div>
<div class="profile__editBlock">
    {{!-- временный переход на список страниц --}}
    {{> profileEditRow link="../pages/editInfo.hbs" title="Изменить данные"}}
    {{> profileEditRow link="../pages/editPassword.hbs" title="Изменить пароль"}}
    {{> profileExitRow title="Выйти"}}
</div>
</box>