<link rel="stylesheet" href="../static/styles/index.pcss"/> 
<box class="form">
    <div class="form__title">
        Регистрация
    </div>
    <form class="registration__form"> 
        {{>  formInput label="Почта" name="email" value="pochta@yandex.ru" type="text"}}
        {{>  formInput label="Логин" name="login" value="ivanivanov" type="text"}}
        {{>  formInput label="Имя" name="first_name" value="Иван" type="text"}}
        {{>  formInput label="Фамилия" name="second_name" value="Иванов" type="text"}}
        {{>  formInput label="Телефон" name="phone" value="+7 (910) 123 45 67" type="text"}}
        {{>  formInput label="Пароль" name="password" value="******" type="password"}}  
        {{>  formInput label="Пароль (еще раз)" name="password_check" value="******" type="password"}}
    </form>
    <div class="registration__form_submit">
    <button class="btn">Зарегистрироваться</button>
    </div>       
</box>
