<div class="modal-content">
    <button class="close">&times;</button>
    <div class="form__title">
        Создать чат
    </div>
    {{{chat}}}
    <div lass="form__submit">
        {{{submitButton}}}
    </div>
</div>
